[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Locksmith"]
	path = Carthage/Checkouts/Locksmith
	url = https://github.com/matthewpalmer/Locksmith.git
[submodule "Carthage/Checkouts/PromiseKit"]
	path = Carthage/Checkouts/PromiseKit
	url = https://github.com/mxcl/PromiseKit.git
