<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessToken</key>
	<string>****</string>
	<key>RefreshToken</key>
	<string>****</string>
	<key>InstanceURL</key>
	<string>****</string>
	<key>IdentityURL</key>
	<string>****</string>
	<key>ConsumerKey</key>
	<string>****</string>
	<key>RedirectURL</key>
	<string>****</string>
</dict>
</plist>
